$White_primary: #f9f9f9;
$Black_primary: #000103;
$beige_primary: #FFEEDF;
$beige_secondary: #FFDBC2;
$yellow_primary: #e8c546;
$green_primary: #118e53;
$red_primary: #de1f2c;
$lightblue_secondary: #4876ef;
$darkblue_primary: #071742;