* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trainpart-selection-element {
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
        width: 20%;
        height: 300px;
        display: flex;
        flex-direction: column;

        img {
            height: 80%;
            object-fit: contain;
        }
    }

}

.stats {
    padding: 30px;
    display: flex;
    width: 100vw;
    gap: 100px;

    .display-train-total {
        width: calc(50vw - 80px);
        height: 50vh;
        background-color: aquamarine;
        padding-bottom: 0;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
}