$White_primary: #f9f9f9;
$Black_primary: #000103;
$beige_primary: #FFEEDF;
$beige_secondary: #FFDBC2;
$green_primary: #118e53;
$red_primary: #de1f2c;
$darkblue_primary: #071742;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Freeman", sans-serif;
}

body {
    background-color: $beige_primary;
    height: 100%;
}


.trainpart-selection-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    min-height: 150px;
    margin: 0px 30px;

    div {
        flex: 1 1 23%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $beige_secondary;
        border-radius: 12px;
        padding: 10px;
        height: 100%;

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 3 / 2;
            object-fit: contain;
            border-radius: 12px;
        }

        .arrow {
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .arrow:active {
            opacity: 0.8;
        }
    }
}

.stats {
    padding: 30px;
    margin-bottom: 40px;
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        "trainDisplay  icons"
        "trainDisplay  buttons";
    grid-column-gap: 50px;

    .display-train-total {
        background-color: $beige_secondary;
        padding-bottom: 0;
        grid-area: trainDisplay;
        position: relative;
        border-radius: 12px;
        min-height: 300px;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 65%;
            height: auto;
        }
    }

    .stats-icons {
        grid-area: icons;
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            padding: 0px 5px;
        }

        .weight {
            padding-bottom: 30px;
        }



    }

    .stats-buttons {
        grid-area: buttons;
        display: flex;
        gap: 30px;
        flex: 1 1 0;
        min-width: clamp(120px, 20vw, 250px);
        min-height: clamp(40px, 8vh, 70px);
        font-size: clamp(1.2rem, 2.5vw, 2.5rem);
    }

    button {
        padding: 5px 50px;
        min-width: 20vw;
        min-height: 50px;
        font-size: 2.5rem;
        color: $White_primary;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $Black_primary;
        border-radius: 12px;

        img {
            height: 6vh;
        }
    }

    button:active {
        opacity: 0.8;
        rotate: 5deg;
    }

    .testBtn {
        background-color: $green_primary;
    }

    .restartBtn {
        background-color: $red_primary;
    }
}

@media only screen and (max-width: 1200px) {
    .stats {
        height: 50vh;
        padding-top: 30px;

        .display-train-total {
            img {
                top: 20px;
                left: 20px;
            }
        }

        .stats-icons {
            gap: 15px;

        }

        .stats-buttons {
            height: 100%;

            button {

                img {
                    height: 100%;
                }

                h3 {
                    font-size: 2rem;
                }
            }

        }

    }

    .trainpart-selection-element {

        div {
            justify-content: center;
            align-items: center;
            min-height: 120px;
            max-height: 150px;

            img {
                width: 70%;
            }


            .arrow {
                min-height: 30px;
                max-height: 40px;
                padding: 5px;
            }
        }
    }

}




.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background: $beige_primary;
    padding: 1.5rem;
    border-radius: 12px;
    border-color: $beige_secondary;
    max-width: 90%;
    width: 90%;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'h3'
        'stars'
        'button';
    align-items: center;
    justify-items: center;

    h3 {
        grid-area: 'h3';
        font-size: 3.5rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $Black_primary;
        color: $green_primary;
        letter-spacing: 5%;

    }

    .stars {
        grid-area: 'stars';
        padding-bottom: 40px;

        :nth-child(even) {
            translate: 0px 20px;
        }
    }

    button {
        grid-area: 'button';
        background-color: $red_primary;
        padding: 5px 50px;
        min-width: 20vw;
        min-height: 50px;
        font-size: 2.5rem;
        color: $White_primary;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $Black_primary;
        border-radius: 12px;


    }

    button:active {
        opacity: 0.8;
        rotate: 5deg;
    }
}