$White_primary: #f9f9f9;
$Black_primary: #000103;
$beige_primary: #FFEEDF;
$beige_secondary: #FFDBC2;
$yellow_primary: #e8c546;
$green_primary: #118e53;
$red_primary: #de1f2c;
$lightblue_secondary: #4876ef;
$darkblue_primary: #071742;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Freeman", sans-serif;
}

body {
    background-color: $beige_primary;
}

h2 {
    font-size: 2.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $Black_primary;
    color: $darkblue_primary;
}

.trainpart-selection-element {
    margin: 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    div {
        width: 23%;
        height: 300px;

        display: flex;
        flex-direction: column;

        img {
            min-height: 220px;
            height: 80%;
            object-fit: contain;
            background-color: $beige_secondary;
            border-radius: 15px;
            padding: 10px;
        }

        .arrow {
            min-height: 50px;
            max-height: 50px;
            background-color: $beige_primary;
            padding: 0;
        }

        .arrow:hover {
            opacity: 0.8;
            translate: 0px -3px;
        }
    }

}

.stats {
    padding: 30px;
    padding-bottom: 5px;
    width: 100vw;
    height: 55vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        "trainDisplay  icons"
        "trainDisplay  buttons";
    gap: 50px;

    .display-train-total {
        // width: calc(50vw - 80px);
        // height: 50vh;
        background-color: $beige_secondary;
        padding-bottom: 0;
        grid-area: trainDisplay;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 70%;
            height: auto;
        }
    }

    .stats-icons {
        grid-area: icons;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .stats-buttons {
        grid-area: buttons;
        display: flex;
        gap: 30px;
    }

    button {
        padding: 5px 50px;
        min-width: 20vw;
        min-height: 50px;
        font-size: 2.5rem;
        color: $White_primary;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $Black_primary;
        border-radius: 8px;
    }

    button:hover {
        opacity: 0.8;
        rotate: 5deg;
    }

    .testBtn {
        background-color: $green_primary;
    }

    .restartBtn {
        background-color: $red_primary;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: $beige_primary;
    padding: 1.5rem;
    border-radius: 8px;
    border-color: $beige_secondary;
    max-width: 90%;
    width: 90%;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'h3'
        'stars'
        'button';
    align-items: center;
    justify-items: center;

    h3 {
        grid-area: 'h3';
        font-size: 2.5rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $Black_primary;
        color: $green_primary;
        letter-spacing: 5%;

    }

    .stars {
        grid-area: 'stars';

        :nth-child(even) {
            translate: 0px 20px;
        }
    }

    button {
        grid-area: 'button';
    }
}